body{
    background-color: rgb(251, 251, 108);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Garante que o pai tem a altura da tela toda */
}

#entrada{
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa_lista{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
}

#item1{
    display: flex;
    margin-right: auto;
    align-items:center ;
    justify-content: center;
}

p{
    margin: 10%;
}